@font-face {
  font-family: "Latin Modern Sans10";
  src: url('lmsans10-regular.otf');
}
@font-face {
  font-family: "Latin Modern Sans10";
  src: url('lmsans10-oblique.otf');
  font-style: oblique;
}
@font-face {
  font-family: "Latin Modern Sans10";
  src: url('lmsans10-bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Latin Modern Roman9";
  src: url('lmroman9-regular.otf');
}
@font-face {
  font-family: "Latin Modern Roman9";
  src: url('lmroman9-bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Latin Modern Roman9";
  src: url('lmroman9-italic.otf');
  font-style: italic;
}
@font-face {
  font-family: ChopinScript;
  src: url('ChopinScript.otf');
}
